/* ----------------------------------------------------------- */
/* == tingle v0.15.1 */
/* ----------------------------------------------------------- */

.tingle-modal * {
    box-sizing: border-box;
}

.tingle-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5000;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background: transparent;
    visibility: hidden;
    cursor: pointer;
    opacity: 0;
    user-select: none;
    -ms-flex-align: center;
    -webkit-overflow-scrolling: touch;
}

/* confirm and alerts
-------------------------------------------------------------- */

.tingle-modal--confirm .tingle-modal-box {
    text-align: center;
}

/* modal
-------------------------------------------------------------- */

.tingle-modal--noOverlayClose {
    cursor: default;
}

.tingle-modal--noClose .tingle-modal__close {
    display: none;
}

.tingle-modal__close {
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 1000;
    width: 2rem;
    height: 2rem;
    padding: 0;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.tingle-modal__close svg * {
    fill: currentColor;
}

.tingle-modal__closeLabel {
    display: none;
}

.tingle-modal__close:hover {
    color: #fff;
}

.tingle-modal-box {
    position: relative;
    flex-shrink: 0;
    /* width: 100%; */
    margin-top: auto;
    margin-bottom: auto;
    cursor: auto;
    opacity: 1;
    will-change: transform, opacity;
    -ms-flex-negative: 0;
    /* box: vertical middle center; */
}

.tingle-modal-box__content {
    /* padding: 3rem 3rem; */
}

.tingle-modal-box__footer {
    width: auto;
    padding: 1.5rem 2rem;
    background-color: #f5f5f5;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: auto;
}

.tingle-modal-box__footer::after {
    display: table;
    clear: both;
    content: '';
}

.tingle-modal-box__footer--sticky {
    position: fixed;
    bottom: -200px; /* TODO : find a better way */
    z-index: 10001;
    opacity: 1;
    transition: bottom 0.3s ease-in-out 0.3s;
}

/* state
-------------------------------------------------------------- */

.tingle-enabled {
    position: fixed;
    right: 0;
    left: 0;
    overflow: hidden;
}

.tingle-modal--visible .tingle-modal-box__footer {
    bottom: 0;
}

/* .tingle-enabled .tingle-content-wrapper {
    filter: blur(8px);
} */

.tingle-modal--visible {
    visibility: visible;
    opacity: 1;
}

.tingle-modal--visible .tingle-modal-box {
    animation: scale 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}

.tingle-modal--overflow {
    padding-top: 0;
    overflow-y: scroll;
}

/* btn
-------------------------------------------------------------- */

.tingle-btn {
    display: inline-block;
    margin: 0 0.5rem;
    padding: 1rem 2rem;
    color: #fff;
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    text-decoration: none;
    vertical-align: middle;
    background-color: grey;
    border: none;
    box-shadow: none;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.tingle-btn--primary {
    background-color: #3498db;
}

.tingle-btn--danger {
    background-color: #e74c3c;
}

.tingle-btn--default {
    background-color: #34495e;
}

.tingle-btn--pull-left {
    float: left;
}

.tingle-btn--pull-right {
    float: right;
}

/* responsive
-------------------------------------------------------------- */

@media (max-width: 540px) {
    .tingle-modal {
        top: 0px;
        display: block;
        width: 100%;
        padding-top: 80px;
    }

    .tingle-modal-box {
        width: auto;
        border-radius: 0;
    }

    /* .tingle-modal-box__content {
        overflow-y: scroll;
    } */

    .tingle-modal--noClose {
        top: 0;
    }

    .tingle-modal--noOverlayClose {
        padding-top: 0;
    }

    .tingle-modal-box__footer .tingle-btn {
        display: block;
        float: none;
        width: 100%;
        margin-bottom: 1rem;
    }

    .tingle-modal__close {
        top: 0;
        right: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 60px;
        color: #fff;
        background-color: #2c3e50;
        border: none;
        box-shadow: none;
    }

    .tingle-modal__closeLabel {
        display: inline-block;
        font-size: 1.6rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        vertical-align: middle;
    }

    .tingle-modal__closeIcon {
        display: inline-block;
        width: 1.6rem;
        margin-right: 0.8rem;
        font-size: 0;
        vertical-align: middle;
    }
}

/* @supports ((-webkit-backdrop-filter: blur(12px)) or (backdrop-filter: blur(12px))) {
    .tingle-modal {
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
    }

    .tingle-enabled .tingle-content-wrapper {
        filter: none;
    }

    @media (max-width: 540px) {
        .tingle-modal {
            -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
        }
    }
} */

/* animations
-------------------------------------------------------------- */

@keyframes scale {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
