.contactItems {
    box: horizontal;
    flex-wrap: wrap;
    padding: 0 var(--global-padding);
}

.contactItem {
    lost-column: 1/3 3 110px flex;
    margin-bottom: 66px;
    @media (--tablet) {
        lost-column: 1/1 1 0px flex;
        margin-bottom: 40px;
    }
}

.contactItemHeader {
    margin-bottom: 33px;
    box: vertical top left;
    cursor: pointer;
    & h4 {
        color: #000000;
        font-weight: 700;
        font-size: 40px;
        font-family: 'Cairo', Arial, Helvetica, sans-serif;
        line-height: 46.82px;
        text-transform: uppercase;
        @media (--tablet) {
            font-size: 30px;
            line-height: 42.82px;
        }
    }
    @media (--tablet) {
        margin-bottom: 22px;
    }
}

.contactItemBody {
    padding: 26px 0 10px;
    border-top: 3px solid #000;
    border-bottom: 1px solid #000;
    & p {
        margin-bottom: 18px;
        color: #585858;
        font-weight: 700;
        font-size: 18px;
        font-family: 'Cairo', Arial, Helvetica, sans-serif;
        line-height: 24px;
        & span {
            font-weight: 400;
        }
        & a {
            color: #585858;
            font-weight: 400;
            text-decoration: none;
        }
    }
}
