.contact {
    display: block;
    margin-bottom: 70px;
}
.contactHeader {
    margin-bottom: 40px;
    padding: 0 var(--global-padding);
    box: vertical top left;
    & h3 {
        position: relative;
        margin-bottom: 20px;
        color: #000000;
        font-weight: 400;
        font-size: 14px;
        font-family: 'Cairo', Arial, Helvetica, sans-serif;
        line-height: 14px;
        text-transform: uppercase;
        &:after {
            position: absolute;
            top: calc(50% - 0.05em);
            left: calc(100% + 75px);
            width: 200px;
            height: 1px;
            background-color: #000;
            content: '';
            @media (--tablet) {
                left: calc(100% + 35px);
                width: 100px;
            }
        }
    }
    & h2 {
        color: #000000;
        font-weight: 700;
        font-size: 40px;
        font-family: 'Cairo', Arial, Helvetica, sans-serif;
        line-height: 52.82px;
        text-transform: uppercase;
        @media (--tablet) {
            font-size: 30px;
            line-height: 42.82px;
        }
    }
}

.contactMap {
    width: 100%;
    height: 270px;
    margin-bottom: 40px;
}
