/* Заменил @reset-global pc; на отдельный файл так как
для :focus-visible нужно было убрать outline: 0; */
@import 'reset-global-pc.css';
@import 'media.css';
@import 'var.css';

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: auto;
    font-size: 16px;
    font-family: 'Cairo', Arial, Helvetica, sans-serif;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
    /* -webkit-overflow-scrolling: touch; */
}
.body {
    position: relative;
}
.svg-icon {
    display: block;
    flex-shrink: 0;
}
.pageWrapper {
    position: relative;
}

[data-scroll] {
    transform: translateY(100px);
    opacity: 0;
    transition: all 1s;
}
[data-scroll='in'] {
    transform: translateY(0);
    opacity: 1;
}
/* [data-scroll="out"] {
  opacity: 0;
} */

*:focus {
    outline: none;
}

button,
.popupLink {
    cursor: pointer;
}
