:root {
    --global-padding: 160px;
    @media (--big-desktop) {
        --global-padding: 120px;
    }

    @media (--desktop) {
        --global-padding: 80px;
    }

    @media (--small-desktop) {
        --global-padding: 60px;
    }

    @media (--tablet) {
        --global-padding: 40px;
    }
    @media (--phone) {
        --global-padding: 20px;
    }
}
