.slideWrap {
    position: relative;
    width: 100%;
    height: calc(100vh - 150px);
    @media (--phone) {
        height: calc(100vh - 93px);
    }
}
.sliderTextMain {
    position: absolute;
    width: 100%;
    height: calc(100vh - 150px);
    @media (--tablet) {
        background-color: rgba(0, 0, 0, 0.2);
    }
    @media (--phone) {
        height: 100vh;
        padding-top: 93px;
    }
}
.slideContent {
    position: relative;
    z-index: 10;
    height: 100%;
    padding: 0 var(--global-padding);
    box: vertical middle left;
}

.slidePhoto {
    position: absolute;
    top: 0;
    left: calc(var(--global-padding) + 385px);
    z-index: 5;
    width: calc(100% - var(--global-padding) - 385px);
    height: 100%;
    opacity: 0;
    & img {
        width: 100%;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @media (--desktop) {
        left: calc(var(--global-padding) + 285px);
        z-index: 5;
        width: calc(100% - var(--global-padding) - 285px);
    }
    @media (--tablet) {
        left: 0;
        width: 100%;
    }
}

.slideHeader {
    margin-bottom: 63px;
    margin-left: -5px;
    padding: 15px 15px 15px 0;
    color: #000000;
    font-weight: 700;
    font-size: 75px;
    font-family: 'Cairo', Arial, Helvetica, sans-serif;
    line-height: 61.82px;
    text-transform: uppercase;
    background-color: #fff;
    opacity: 0;
    @media (--desktop) {
        font-size: 60px;
    }
    @media (--tablet) {
        padding: 15px 15px 15px 15px;
    }
    @media (--phone) {
        padding: 15px 15px 15px 15px;
        font-size: 45px;
    }
}

.slideSubheader {
    padding: 35px 0;
    color: #000000;
    font-weight: 700;
    font-size: 34px;
    font-family: 'Cairo', Arial, Helvetica, sans-serif;
    line-height: 40.82px;
    text-transform: uppercase;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    opacity: 0;
    @media (--desktop) {
        padding: 25px 0;
        font-size: 26px;
        line-height: 30px;
    }
    @media (--tablet) {
        color: #fff;
        border-color: #fff;
    }
    @media (--phone) {
        margin-left: 15px;
    }
}
