.popup {
    display: block;
    /* width: calc(100% - 80px); */
    width: 100%;
    margin-bottom: 20px;
    padding: 11px 14px;
    background-color: #d4d4d4;
}

.popupWide {
    max-width: 1260px;
    background-color: #757575;
}

.popupNormal {
    max-width: 860px;
    padding: 11px 0px;
}
.popupCases {
    padding: 0 40px 40px;
}
.popupColumns {
    box: horizontal;
    @media (--tablet) {
        box: vertical-reverse top left;
    }
}

.popupHalf {
    lost-column: 1/2 2 40px flex;
    @media (--tablet) {
        lost-column: 1/1 1 0px flex;
    }
}

.popupLine {
    width: calc(100% - 80px);
    height: 1px;
    margin: 0 40px 30px;
    background-color: #000;
}
