.casesItem {
    margin-bottom: 40px;
    padding: 45px 70px;
    background-color: #efefef;

    @media (--desktop) {
        padding: 45px 40px;
    }
    @media (--phone) {
        margin-bottom: 10px;
        padding: 25px 20px;
    }
}
.casesItemClose {
    & .casesItemColumns {
        max-height: 0;
    }
    & .casesItemButtonOpen {
        opacity: 0;
    }
    & .casesItemButtonClose {
        opacity: 1;
    }
}
.casesItemHeader {
    box: horizontal middle space-between;
    cursor: pointer;
    & h4 {
        color: #000000;
        font-weight: 700;
        font-size: 54px;
        font-family: 'Cairo', Arial, Helvetica, sans-serif;
        line-height: 61.82px;
        text-transform: uppercase;
        @media (--desktop) {
            font-size: 40px;
            line-height: 45px;
        }
        @media (--tablet) {
            font-size: 20px;
            line-height: 25px;
        }
    }
}

.casesItemButton {
    position: relative;
    width: 50px;
    height: 50px;
    @media (--tablet) {
        width: 20px;
        height: 20px;
    }
}
.casesItemButtonOpen,
.casesItemButtonClose {
    position: absolute;
    top: 10px;
    left: 0;
    width: 50px;
    height: 50px;
    opacity: 1;
    transition: all 0.4s;
    & svg {
        width: 50px;
        height: 50px;
        transition: all 0.4s ease;
        stroke: #000;
    }
    @media (--tablet) {
        top: 3px;
        width: 20px;
        height: 20px;
        & svg {
            width: 20px;
            height: 20px;
            stroke: #000;
        }
    }
}
.casesItemButtonClose {
    opacity: 0;
}
.casesItemButtonOpen {
    &:hover {
        & svg {
            transform: rotate(90deg);
        }
    }
}
.casesItemColumns {
    flex-wrap: wrap;
    max-height: 999px;
    overflow: hidden;
    transition: all 0.8s;
    box: horizontal;
    @media (--tablet) {
        max-height: 9999px;
    }
}

.casesProject {
    margin-bottom: 50px;
    padding-top: 75px;
    lost-column: 1/3 3 45px flex;
    @media (--tablet) {
        margin-bottom: 40px;
        lost-column: 1/1 1 0px flex;
    }
    @media (--tablet) {
        margin-bottom: 20px;
        padding-top: 20px;
    }
}

.casesProjectPhoto {
    width: 100%;
    height: 225px;
    margin-bottom: 20px;
    & img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.casesProjectHeader {
    margin-bottom: 20px;
    & h5 {
        color: #000000;
        font-weight: 700;
        font-size: 30px;
        font-family: 'Cairo', Arial, Helvetica, sans-serif;
        line-height: 35.82px;
        text-transform: uppercase;
        @media (--tablet) {
            font-size: 20px;
            line-height: 25.82px;
        }
    }
}

.casesProjectBody {
    flex-wrap: wrap;
    padding: 20px 0 0px;
    border-top: 3px solid #000;
    border-bottom: 1px solid #000;
    box: horizontal;
    & p {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 18px;
        font-family: 'Cairo', Arial, Helvetica, sans-serif;
        line-height: 18px;
        lost-column: 1/2 2 flex;
        & span {
            display: block;
            padding-top: 4px;
            font-weight: 400;
        }
        @media (--tablet) {
            font-size: 14px;
            font-family: 'Cairo', Arial, Helvetica, sans-serif;
            line-height: 14px;
        }
    }
}
