@keyframes hvr-icon-konvert {
    0%,
    50%,
    100% {
        transform: translateY(0);
    }
    25%,
    75% {
        transform: translateY(6px);
    }
}
/* Icon Down */
.hvr-icon-konvert svg {
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transform: perspective(1px) translateZ(0);
}
.hvr-icon-konvert #konvert {
    transform: translateZ(0);
}
.hvr-icon-konvert:hover #konvert,
.hvr-icon-konvert:focus #konvert,
.hvr-icon-konvert:active #konvert {
    animation-name: hvr-icon-konvert;
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
}
