@keyframes hvr-icon-down {
    0%,
    50%,
    100% {
        transform: translateY(0);
    }
    25%,
    75% {
        transform: translateY(6px);
    }
}
/* Icon Down */
.hvr-icon-down {
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transform: perspective(1px) translateZ(0);
}
.hvr-icon-down svg {
    transform: translateZ(0);
}
.hvr-icon-down:hover svg,
.hvr-icon-down:focus svg,
.hvr-icon-down:active svg {
    animation-name: hvr-icon-down;
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
}
