.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    margin-bottom: 20px;
    padding: 50px var(--global-padding);
    background-color: #fff;
    box: horizontal middle space-between;
    @media (--small-desktop) {
        height: 93px;
        margin-bottom: 0px;
        padding: 20px var(--global-padding);
    }
}
.headerLeft {
    box: horizontal middle space-between;
    flex: 1 1 auto;
}

.headerLogo {
    flex: 0 1 auto;
    height: 41px;
    margin-right: 160px;
    box: vertical middle left;
    & img {
        width: 225px;
        height: 41px;
        @media (--desktop) {
            width: 180px;
            height: auto;
        }
    }
    @media (--big-desktop) {
        margin-right: 40px;
    }
}
.headerMenu {
    box: horizontal middle left;
    flex: 1 1 auto;
    & li {
        margin-right: 20px;
        @media (--desktop) {
            margin-right: 15px;
        }
    }
    & .active {
        & .headerMenuItem {
            &:after {
                width: 100%;
            }
        }
    }
    @media (--small-desktop) {
        display: none;
    }
}
.headerMenuItem {
    position: relative;
    margin-right: 20px;
    color: #010101;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Cairo', Arial, Helvetica, sans-serif;
    line-height: 18px;
    white-space: nowrap;
    text-transform: uppercase;
    text-decoration: none;
    /* border-bottom: 3px solid transparent; */
    transition: all 0.4s;
    &:last-child {
        margin-right: 0;
    }
    &:after {
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        background-color: #000;
        transition: all 0.6s ease;
        content: '';
    }
    &:hover {
        &:after {
            width: 100%;
        }
        /* border-bottom: 3px solid #000; */
    }
    @media (--desktop) {
        margin-right: 15px;
        font-size: 16px;
    }
}

.headerControl {
    box: horizontal middle right;
}

.headerCorpPresentation {
    margin-right: 95px;
    color: #000000;
    font-weight: 400;
    font-size: 12px;
    font-family: 'Cairo', Arial, Helvetica, sans-serif;
    line-height: 13.82px;
    text-transform: uppercase;
    text-decoration: none;
    & a {
        color: #000;
        text-decoration: none;
        box: horizontal middle;
        & svg {
            width: 20px;
            height: 21px;
            margin-right: 23px;
        }
    }
    @media (--small-desktop) {
        display: none;
    }
    @media (--big-desktop) {
        margin-right: 60px;
    }
}

.headerLang {
    box: vertical top left;
    margin-right: 77px;
    @media (--small-desktop) {
        display: none;
    }
}
.headerLangItem {
    padding-bottom: 7px;
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Cairo', Arial, Helvetica, sans-serif;
    line-height: 14px;
    text-transform: uppercase;
    text-decoration: none;
    &:last-child {
        padding-top: 7px;
        padding-bottom: 0;
    }
}
.headerLangItemLine {
    width: calc(100% + 6px);
    height: 1px;
    margin-left: -3px;
    background-color: #000;
}

.headerContact {
    position: relative;
    & a {
        position: absolute;
        top: -20px;
        display: block;
    }
    @media (--small-desktop) {
        display: none;
    }
}

.headerMobileMenuButton {
    display: none;
    @media (--small-desktop) {
        display: block;
    }
}
