@keyframes hvr-icon-up {
    0%,
    50%,
    100% {
        transform: translateY(0);
    }
    25%,
    75% {
        transform: translateY(-6px);
    }
}
/* Icon Up */
.hvr-icon-up {
    transform: perspective(1px) translateZ(0);
}
.hvr-icon-up .hvr-icon {
    transform: translateZ(0);
}
.headerLangItem:hover,
.headerLangItem:focus,
.headerLangItem:active {
    animation-name: hvr-icon-up;
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
}
