.mobileMenu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5000;
    display: none;
    width: 100vw;
    max-width: 600px;
    height: calc(100vh - 93px);
    margin-top: 93px;
    transform: translateX(100vw);
    @media (--small-desktop) {
        display: block;
    }
}

.mobileMenuWrap {
    height: 100%;
    padding: 0px 0 50px;
    padding-left: 40px;
    background-color: #fff;
    box: vertical top;
}

.mobileMenuItems {
    box: vertical middle left;
    flex: 1 1 auto;
}

.mobileMenuItem {
    position: relative;
    margin-bottom: 25px;
    color: #010101;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Cairo', Arial, Helvetica, sans-serif;
    line-height: 18px;
    white-space: nowrap;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0;
}

.mobilePresentation {
    margin-bottom: 20px;
    color: #000000;
    font-weight: 400;
    font-size: 12px;
    font-family: 'Cairo', Arial, Helvetica, sans-serif;
    line-height: 13.82px;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0;
    & a {
        color: #000;
        text-decoration: none;
        box: horizontal middle;
        & svg {
            width: 20px;
            height: 21px;
            margin-right: 23px;
        }
    }
}
.mobileLang {
    box: horizontal top left;
    margin-bottom: 40px;
    opacity: 0;
}
.mobileLangItem {
    margin-right: 20px;
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Cairo', Arial, Helvetica, sans-serif;
    line-height: 14px;
    text-transform: uppercase;
    text-decoration: none;
}
.mobileContact {
    position: absolute;
    top: 10px;
    right: 38px;
}
