doctype
html(lang="ru")
    head
        title Spectrim
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width user-scalable=1.0")
        link(type="image/x-icon" href="favicon.ico" rel="shortcut icon")
        link(type="text/css" href="css/main.css" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Cairo:400,700&display=swap" rel="stylesheet")

   
            
           
            
    body


        include _svg.pug
        script.
            var popupload = {
                url: '/popup-wide.html',
                timeout: 15000
            }
       
        .pageWrapper
            .cookies
                .cookiesWrap
                    h5 Cookies & Datenschutz
                    p Diese Website verwendet Cookies. Durch die weitere Nutzung stimmen Sie der Verwendung von Cookies zu. Datenschutzerklārung.
                    button.cookiesButton Akzeptieren
            include block/menu.pug
            include block/header
            block content
            include block/footer


       

        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGPVIGSPYTx4tNNzPsbeW3uHknwWnA9g0")
        script(src="js/app.js")
