mixin svgIcon(name)
    - idname = "#" + name
    svg(class=name)
        use(xlink:href=idname)

.popup.popupWide
    .popupColumns
        .popupHalf
            .popupContent.popupContentWhite
                h5 Ereignis
                h2 Thank you for joining us and celebrating MIPIM's 30th edition!
                .popupText
                    p Spectrum ist eine international agierende Planungsgesellschaft mit über 20 Jahren Erfahrung und rund 600 realisierten Projekten in allen Segmenten der Immobilienbranche. Mit gegenwärtig ca. Alltag!
                    a(href="#").popupContentLink LINK
            .popupCloseWrap
                button.popupClose.popupCloseWhite
                    +svgIcon('icon-open')
        .popupHalf
            .popupImage
                img(src="/img/item.jpg", alt="")
                