mixin svgIcon(name)
    - idname = "#" + name
    svg(class=name)
        use(xlink:href=idname)

.popup.popupNormal
    .popupSlider.glide
        .glide__track(data-glide-el='track')
            .glide__slides
                .glide__slide.slide
                    .popupSlide
                        img(src="img/slide_photo.jpg")
                .glide__slide.slide
                    .popupSlide
                        img(src="img/slide_photo2.jpg")
                .glide__slide.slide
                    .popupSlide
                        img(src="img/slide_photo3.jpg")
        .popupSliderControls(data-glide-el='controls[nav]')
            button.popupSliderControl(data-glide-dir='=0') Photo #1
            button.popupSliderControl(data-glide-dir='=1') Photo #2
            button.popupSliderControl(data-glide-dir='=2') Photo #3


    .popupContent

        h3 Thank you for joining us and celebrating MIPIM's 30th edition!

        p Spectrum ist eine international agierende Planungsgesellschaft mit über 20 Jahren Erfahrung und rund 600 realisierten Projekten in allen Segmenten der Immobilienbranche. Mit gegenwärtig ca. Alltag!
    .popupCases  
        .casesProjectBody
            p 
                | Location:
                span Volga

            p 
                | Client:
                span Novaport

            p 
                | Address:
                span Volgograd

            p 
                | Total area:
                span 9 200

            p 
                | Project status:
                span Finished

            p 
                | Spectrum Services:
                span General designer

    .popupCloseWrap
        button.popupClose
            +svgIcon('icon-open')

