.feedback {
    display: block;
    padding: 0 var(--global-padding);
}

.feedbackHeader {
    lost-column: 1/3 3 110px flex;
    margin-bottom: 70px;
    & h2 {
        padding-bottom: 40px;
        color: #000000;
        font-weight: 700;
        font-size: 40px;
        font-family: 'Cairo', Arial, Helvetica, sans-serif;
        line-height: 46.82px;
        text-transform: uppercase;
        border-bottom: 2px solid #000;
        @media (--tablet) {
            font-size: 30px;
            line-height: 42.82px;
        }
    }
    @media (--tablet) {
        lost-column: 1/1 1 0px flex;
        margin-bottom: 40px;
    }
}

.form {
    margin-bottom: 50px;
}

.formColumns {
    box: horizontal;
    flex-wrap: wrap;
}

.formColumn {
    lost-column: 1/2 2 110px flex;
    @media (--tablet) {
        lost-column: 1/1 1 0px flex;
        margin-bottom: 0px;
    }
}

.formItem {
    box: horizontal middle;
    margin-bottom: 20px;
    & label {
        display: flex;
        flex: 0 1 150px;
        width: 150px;
        color: #585858;
        font-weight: 700;
        font-size: 18px;
        font-family: 'Cairo', Arial, Helvetica, sans-serif;
        line-height: 16.82px;
        @media (--phone) {
            flex: 0 1 auto;
            width: 100%;
            margin-bottom: 10px;
        }
    }
    & input {
        flex: 0 1 auto;
        width: 100%;
        height: 40px;
        padding: 0 15px;
        font-weight: 400;
        font-size: 18px;
        font-family: 'Cairo', Arial, Helvetica, sans-serif;
        line-height: 18px;
        border: 1px solid #000;
    }

    & textarea {
        flex: 0 1 auto;
        width: 100%;
        height: 90px;
        padding: 10px 15px;
        font-weight: 400;
        font-size: 18px;
        font-family: 'Cairo', Arial, Helvetica, sans-serif;
        line-height: 18px;
        border: 1px solid #000;
        @media (--phone) {
            flex: 0 1 auto;
            width: 100%;
            margin-bottom: 10px;
        }
    }
    @media (--phone) {
        box: vertical top left;
    }
}

.labelTextarea {
    align-self: flex-start;
    padding-top: 10px;
}

.formSubmit {
    box: vertical top right;
    width: 100%;
    & button {
        color: #585858;
        font-weight: 700;
        font-size: 18px;
        font-family: 'Cairo', Arial, Helvetica, sans-serif;
        line-height: 16.82px;
        text-decoration: underline;
        background-color: transparent;
        border: none;
        outline: none;
    }
}
