.footer {
    display: block;
    box: vertical;
}

.footerLine {
    height: 100px;
    background-color: #e5e5e5;
}

.footerBody {
    flex-wrap: wrap;
    padding: 120px var(--global-padding);
    background-color: #cecece;
    box: horizontal;
}

.footerLogo {
    margin-bottom: 44px;
    & img {
        width: 280px;
        height: 50px;
    }
}

.footerLeft {
    lost-column: 3/7 2 60px flex;
    box: vertical space-between left;
    @media (--small-desktop) {
        lost-column: 1/1 1 0px flex;
        margin-bottom: 40px;
    }
}

.footerRight {
    lost-column: 4/7 2 60px flex;
    @media (--small-desktop) {
        lost-column: 1/1 1 0px flex;
        margin-bottom: 40px;
    }
}

.footerLeftTop {
    color: #000000;
    font-weight: 700;
    font-size: 54px;
    font-family: 'Cairo', Arial, Helvetica, sans-serif;
    line-height: 61.82px;
    text-transform: uppercase;
    @media (--phone) {
        margin-bottom: 10px;
        font-size: 30px;
        line-height: 40px;
    }
}
.footerLeftBottom {
    color: #000000;
    font-weight: 700;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    box: horizontal middle space-between;
    & a {
        margin-right: 15px;
        color: #000000;
    }
}
.footerRightTop {
    box: horizontal middle space-between;
    flex-wrap: wrap;
    @media (--phone) {
        box: vertical top left;
    }
}
.footerMenu {
    box: horizontal middle;
    margin-bottom: 45px;
    & a {
        margin-right: 15px;
        color: #010101;
        font-weight: 700;
        font-size: 18px;
        font-family: 'Cairo', Arial, Helvetica, sans-serif;
        line-height: 20.78px;
        white-space: nowrap;
        text-transform: uppercase;
        text-decoration: none;
        &:after {
            padding-left: 15px;
            content: '|';
        }
        &:last-child {
            &:after {
                display: none;
            }
        }
        @media (--tablet) {
            margin-right: 0;
            margin-bottom: 20px;
            &:after {
                display: none;
            }
        }
    }
    @media (--tablet) {
        box: vertical top left;
    }
}

.footerText {
    margin-bottom: 29px;
    padding: 24px 0 27px;
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Cairo', Arial, Helvetica, sans-serif;
    line-height: 33.82px;
    border-top: 3px solid #000;
    border-bottom: 1px solid #000;
}

.footerCopyright {
    color: #000000;
    font-weight: 700;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    box: horizontal middle space-between;
    & .footerSecondMenu {
        & a {
            margin-right: 10px;
            color: #000000;
            text-decoration: none;
            &:after {
                padding-left: 10px;
                content: '|';
            }
            &:last-child {
                margin-right: 0;
                &:after {
                    display: none;
                }
            }
        }
        @media (--tablet) {
            margin-top: 20px;
        }
    }
    @media (--tablet) {
        box: vertical top left;
    }
}
