.footerSocial {
    box: horizontal middle left;
    margin-bottom: 45px;
    @media (--tablet) {
        box: horizontal top left;
    }
}

.footerSocialItem {
    display: block;
    width: 34px;
    height: 34px;
    margin-right: 20px;
    text-decoration: none;
    transition: all 0.4s;
    & svg {
        width: 100%;
        height: 100%;
        & .white {
            animation-duration: 0.4s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: both;
        }
        & .black {
            animation-duration: 0.4s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: both;
        }
    }
    &:hover {
        & .white {
            transform-origin: center center;
            animation-name: blackToWhite;
        }
        & .black {
            animation-name: whiteToblack;
        }
    }
}

@keyframes whiteToblack {
    0% {
        fill: transparent;
    }
    100% {
        fill: #000;
    }
}

@keyframes blackToWhite {
    0% {
        fill: #000;
    }

    100% {
        fill: #fff;
    }
}
