.content#bim
    .contentHeader(data-scroll)
        .contentHeaderText
            h3 Leistungen
            h2 BIM
            h4 BIM ist unser Alltag
        .contentHeaderBackground
            img(src="img/bim.jpg")
            
    .contentIntroduction(data-scroll)
        h2 BIM VALUE
        .contentIntroductionColumns
            .contentIntroductionColumnLeft
                p Bereits im Jahr 2009 wurde mit der Einführung einer Reihe von innovativen Technologien begonnen. Heute arbeitet die Spectrum-Gruppe erfolgreich in BIM, mit Cloud-Lösungen und in Green Technologies. Mit Hilfe von BIM-Technologien werden ausgereifte technische Lösungen erarbeitet, die es erlauben, Projekte in hoher Qualität innerhalb eines vereinbarten Zeitrahmens und Budgets zu realisieren.
            .contentIntroductionColumnRight
                ul
                    li Vermeidung von Planungsfehlern und Änderungsleistungen
                    li Transparente Baukosten, Massenermittlung direkt aus dem Modell
                    li Simulation des Bauablaufs vor Baubeginn
                    li Synchronisierung von Bauablauf und Baufinanzierung
                    li Übernahmen von Änderungen ins BIM-Modell
    
    .contentHeaderText(data-scroll)
        h3 Leistungen
    .contentColumns
        .contentItem(data-scroll)
            .contentItemHeader
                h3 SMART<br/>BIM
            .contentItemText
                p Gemeinsam mit den Kunden werden Projekte entwickelt, optimiert und bis zur Ausführungsreife. 
                button.contentItemButton Read more
            .contentItemMore
                .contentItemMoreWrap
                    p Gemeinsam mit den Kunden werden Projekte entwickelt, optimiert und bis zur Ausführungsreife gebracht. 
                    ul
                        li Gemeinsam mit den Kunden
                        li Gemeinsam mit den Kunden
                        li Gemeinsam mit den Kunden
                    .contentItemMoreLine
                    button.contentItemMoreClose
                        +svgIcon('icon-open')
        .contentItem(data-scroll)
            .contentItemHeader
                h3 BIM<br/>Management
            .contentItemText
                p Gemeinsam mit den Kunden werden Projekte entwickelt, optimiert und bis zur Ausführungsreife gebracht. 
                button.contentItemButton Read more
            .contentItemMore
                .contentItemMoreWrap
                    p Gemeinsam mit den Kunden werden Projekte entwickelt, optimiert und bis zur Ausführungsreife gebracht. 
                    ul
                        li Gemeinsam mit den Kunden
                        li Gemeinsam mit den Kunden
                        li Gemeinsam mit den Kunden
                    a(href="#") LINK
                    br
                    a(href="#") LINK
                    br
                    a(href="#") Link
                    img(src="/img/item.jpg")
                    .contentItemMoreLine
                    button.contentItemMoreClose
                        +svgIcon('icon-open')
           
        .contentItem(data-scroll)
            .contentItemHeader
                h3 BIM<br/>Modeling
            .contentItemText
                p Super
                ul
                    li Gemeinsam mit den Kunden
                    li Gemeinsam mit den Kunden
                    li Gemeinsam mit den Kunden
                button.contentItemButton Read more
            .contentItemMore
                .contentItemMoreWrap
                    p Gemeinsam mit den Kunden werden Projekte entwickelt, optimiert und bis zur Ausführungsreife gebracht. 
                    ul
                        li Gemeinsam mit den Kunden
                        li Gemeinsam mit den Kunden
                        li Gemeinsam mit den Kunden
                    a(href="#") LINK
                    br
                    a(href="#") LINK
                    br
                    a(href="#") Link
                    img(src="/img/item.jpg")
                    .contentItemMoreLine
                    button.contentItemMoreClose
                        +svgIcon('icon-open')
           
    .contentColumns
        .contentItem.contentItemBig(data-scroll)
            .contentItemHeader
                h5 Leistungen
                h3 SMART BIM
            .contentItemPhoto
                img(src="img/item.jpg")
            .contentItemText
                p Gemeinsam mit den Kunden werden Projekte entwickelt, optimiert und bis zur Ausführungsreife gebracht. Gemeinsam mit den Kunden werden Projekte entwickelt, optimiert und bis zur Ausführungsreife gebracht. 
                button.contentItemButton Read more
            .contentItemMore
                .contentItemMoreWrap
                    p Gemeinsam mit den Kunden werden Projekte entwickelt, optimiert und bis zur Ausführungsreife gebracht. 
                    ul
                        li Gemeinsam mit den Kunden
                        li Gemeinsam mit den Kunden
                        li Gemeinsam mit den Kunden
                    a(href="#") LINK
                    br
                    a(href="#") LINK
                    br
                    a(href="#") Link
                    img(src="/img/item.jpg")
                    .contentItemMoreLine
                    button.contentItemMoreClose
                        +svgIcon('icon-open')
        .contentItem.contentItemBig(data-scroll)
            .contentItemHeader
                h5 Leistungen
                h3 SMART BIM
            .contentItemPhoto
                img(src="img/item.jpg")
            .contentItemText
                p Gemeinsam mit den Kunden werden Projekte entwickelt, optimiert und bis zur Ausführungsreife gebracht. Gemeinsam mit den Kunden werden Projekte entwickelt, optimiert und bis zur Ausführungsreife gebracht. 
                button.contentItemButton Read more
            .contentItemMore
                .contentItemMoreWrap
                    p Gemeinsam mit den Kunden werden Projekte entwickelt, optimiert und bis zur Ausführungsreife gebracht. 
                    ul
                        li Gemeinsam mit den Kunden
                        li Gemeinsam mit den Kunden
                        li Gemeinsam mit den Kunden
                    a(href="#") LINK
                    br
                    a(href="#") LINK
                    br
                    a(href="#") Link
                    img(src="/img/item.jpg")
                    .contentItemMoreLine
                    button.contentItemMoreClose
                        +svgIcon('icon-open')

        .contentItem.contentItemBig(data-scroll)
            .contentItemHeader
                h5 Leistungen
                h3 SMART BIM
            .contentItemPhoto
                img(src="img/item.jpg")
            .contentItemText
                p Gemeinsam mit den Kunden werden Projekte entwickelt, optimiert und bis zur Ausführungsreife gebracht. Gemeinsam mit den Kunden werden Projekte entwickelt, optimiert und bis zur Ausführungsreife gebracht. 
                button.contentItemButton Read more
            .contentItemMore
                .contentItemMoreWrap
                    p Gemeinsam mit den Kunden werden Projekte entwickelt, optimiert und bis zur Ausführungsreife gebracht. 
                    ul
                        li Gemeinsam mit den Kunden
                        li Gemeinsam mit den Kunden
                        li Gemeinsam mit den Kunden
                    a(href="#") LINK
                    br
                    a(href="#") LINK
                    br
                    a(href="#") Link
                    img(src="/img/item.jpg")
                    .contentItemMoreLine
                    button.contentItemMoreClose
                        +svgIcon('icon-open')
        .contentItem.contentItemBig(data-scroll)
            .contentItemHeader
                h5 Leistungen
                h3 SMART BIM
            .contentItemPhoto
                img(src="img/item.jpg")
            .contentItemText
                p Gemeinsam mit den Kunden werden Projekte entwickelt, optimiert und bis zur Ausführungsreife gebracht. Gemeinsam mit den Kunden werden Projekte entwickelt, optimiert und bis zur Ausführungsreife gebracht. 
                button.contentItemButton Read more
            .contentItemMore
                .contentItemMoreWrap
                    p Gemeinsam mit den Kunden werden Projekte entwickelt, optimiert und bis zur Ausführungsreife gebracht. 
                    ul
                        li Gemeinsam mit den Kunden
                        li Gemeinsam mit den Kunden
                        li Gemeinsam mit den Kunden
                    a(href="#") LINK
                    br
                    a(href="#") LINK
                    br
                    a(href="#") Link
                    img(src="/img/item.jpg")
                    .contentItemMoreLine
                    button.contentItemMoreClose
                        +svgIcon('icon-open')
        
        