.cases#cases
    .casesHeader(data-scroll)
        h3 Referenzen
        h2 WE HAVE <br />A LOT OF CASES
    .casesItems
        .casesItem.casesItemClose#cases01(data-houdini-group data-scroll)
            .casesItemHeader(data-houdini-toggle="cases01")
                h4 Wohnungsbau
                .casesItemButton
                    .casesItemButtonClose
                        +svgIcon('icon-close')
                    .casesItemButtonOpen
                        +svgIcon('icon-open')
            .casesItemColumns
                .casesProject.popupLink(data-popup="http://spectrum.com/international-airport-volgograd")
                    .casesProjectPhoto
                        img(src='img/item.jpg')
                    .casesProjectHeader
                        h5 International Airport «Volgograd»
                    .casesProjectBody
                        p 
                            | Location:
                            span Volga

                        p 
                            | Client:
                            span Novaport

                        p 
                            | Address:
                            span Volgograd

                        p 
                            | Total area:
                            span 9 200

                        p 
                            | Project status:
                            span Finished

                        p 
                            | Spectrum Services:
                            span General designer
                .casesProject
                    .casesProjectPhoto
                        img(src='img/item.jpg')
                    .casesProjectHeader
                        h5 International Airport «Volgograd»
                    .casesProjectBody
                        p 
                            | Location:
                            span Volga

                        p 
                            | Client:
                            span Novaport

                        p 
                            | Address:
                            span Volgograd

                        p 
                            | Total area:
                            span 9 200

                        p 
                            | Project status:
                            span Finished

                        p 
                            | Spectrum Services:
                            span General designer
                .casesProject
                    .casesProjectPhoto
                        img(src='img/item.jpg')
                    .casesProjectHeader
                        h5 International Airport «Volgograd»
                    .casesProjectBody
                        p 
                            | Location:
                            span Volga

                        p 
                            | Client:
                            span Novaport

                        p 
                            | Address:
                            span Volgograd

                        p 
                            | Total area:
                            span 9 200

                        p 
                            | Project status:
                            span Finished

                        p 
                            | Spectrum Services:
                            span General designer

                    
        .casesItem.casesItemClose(data-scroll)
            .casesItemHeader
                h4 Wohnungsbau
                .casesItemButton
                    .casesItemButtonClose
                        +svgIcon('icon-close')
                    .casesItemButtonOpen
                        +svgIcon('icon-open')
            .casesItemColumns
                .casesProject
                    .casesProjectPhoto
                        img(src='img/item.jpg')
                    .casesProjectHeader
                        h5 International Airport «Volgograd»
                    .casesProjectBody
                        p 
                            | Location:
                            span Volga

                        p 
                            | Client:
                            span Novaport

                        p 
                            | Address:
                            span Volgograd

                        p 
                            | Total area:
                            span 9 200

                        p 
                            | Project status:
                            span Finished

                        p 
                            | Spectrum Services:
                            span General designer
                .casesProject
                    .casesProjectPhoto
                        img(src='img/item.jpg')
                    .casesProjectHeader
                        h5 International Airport «Volgograd»
                    .casesProjectBody
                        p 
                            | Location:
                            span Volga

                        p 
                            | Client:
                            span Novaport

                        p 
                            | Address:
                            span Volgograd

                        p 
                            | Total area:
                            span 9 200

                        p 
                            | Project status:
                            span Finished

                        p 
                            | Spectrum Services:
                            span General designer
                .casesProject
                    .casesProjectPhoto
                        img(src='img/item.jpg')
                    .casesProjectHeader
                        h5 International Airport «Volgograd»
                    .casesProjectBody
                        p 
                            | Location:
                            span Volga

                        p 
                            | Client:
                            span Novaport

                        p 
                            | Address:
                            span Volgograd

                        p 
                            | Total area:
                            span 9 200

                        p 
                            | Project status:
                            span Finished

                        p 
                            | Spectrum Services:
                            span General designer