script.
    var contactMap = [
        {
            latitude: 55.960550,
            longitude: 37.588720
        },
        {
            latitude: 52.520008,
            longitude: 13.404954
        },
        {
            latitude: 56.949650,
            longitude: 24.105186
        },
        {
            latitude: 59.436962,
            longitude: 24.753574
        }
    ]

.contact#contact
    .contactHeader(data-scroll)
        h3 Kontakt
        h2 GEOGRAPHIE <br/>DER BÜROS
    .contactMap(data-scroll)#map
    .contactItems
        .contactItem(data-scroll)
            .contactItemHeader
                h4 BERLIN
            .contactItemBody
                p
                    | Tel.: 
                    a(href='#') +49 30 520 15144
                p
                    | Adress: 
                    span Katharina-Heinroth-Ufer 110787 Berlin
                p
                    | E-mail: 
                    a(href="#") sales@spectrum-group.ru
        .contactItem(data-scroll)
            .contactItemHeader
                h4 BERLIN
            .contactItemBody
                p
                    | Tel.: 
                    a(href='#') +49 30 520 15144
                p
                    | Adress: 
                    span Katharina-Heinroth-Ufer 110787 Berlin
                p
                    | E-mail: 
                    a(href="#") sales@spectrum-group.ru
        .contactItem(data-scroll)
            .contactItemHeader
                h4 BERLIN
            .contactItemBody
                p
                    | Tel.: 
                    a(href='#') +49 30 520 15144
                p
                    | Adress: 
                    span Katharina-Heinroth-Ufer 110787 Berlin
                p
                    | E-mail: 
                    a(href="#") sales@spectrum-group.ru
        .contactItem(data-scroll)
            .contactItemHeader
                h4 BERLIN
            .contactItemBody
                p
                    | Tel.: 
                    a(href='#') +49 30 520 15144
                p
                    | Adress: 
                    span Katharina-Heinroth-Ufer 110787 Berlin
                p
                    | E-mail: 
                    a(href="#") sales@spectrum-group.ru