.feedback
    .feedbackHeader(data-scroll)
        h2 Bitte kontaktieren <br/>Sie uns

    form.form(data-scroll)
        .formColumns
            .formColumn
                .formItem
                    label E-mail
                    input(type="text")
                .formItem
                    label Telefon
                    input(type="text")
                .formItem
                    label Name
                    input(type="text")
            .formColumn
                .formItem
                    label.labelTextarea Ihre Nachricht
                    textarea(type="text")
                .formSubmit
                    button Senden
                
                    
                