.header
    .headerLeft
        a(href='#').headerLogo
            img(src="img/LOGO_COLOR.svg")
        ul.headerMenu
            li
                a(href="#top").headerMenuItem  HOME
            li
                a(href="#skills").headerMenuItem  Leistungen
            li
                a(href="#bim").headerMenuItem  Spectrum-Gruppe
            li
                a(href="#cases").headerMenuItem  Referenzen
            li
                a(href="#contact").headerMenuItem  Kontakt
    .headerControl
        .headerCorpPresentation
            a(href="#").hvr-icon-down
                +svgIcon('icon-download')
                span DOWNLOAD CORPORATE <br/>PRESENTATION
        .headerLang
            a(href="#").headerLangItem GER
            .headerLangItemLine
            a(href="#").headerLangItem ENG
        .headerContact
            a(href="#contact").hvr-icon-konvert
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="86" viewBox="0 0 84 203">
                        <path id="konvert" fill="#000" fill-rule="nonzero" d="M65.5 26.9H18.7c-1.5 0-2.8 1.2-2.8 2.8v24.8c0 1.5 1.2 2.8 2.8 2.8h46.8c1.5 0 2.8-1.2 2.8-2.8V29.7c-.1-1.5-1.3-2.8-2.8-2.8zm-47 2.6c.1.1.1.2.2.3L31 42.1l-11.7 9c-.4.2-.7.4-.9.7V29.7c0-.1 0-.2.1-.2zm47.3.2v22.2c-.3-.3-.6-.5-1-.7l-12.1-9 12.7-12.7s0-.1.1-.1c.2 0 .3.1.3.3zm-25.1-.3h21.1v.3L48.3 43.2l-6.1 5.2c-.2.1-.4.2-.6.2l-4.8-4.3-14.6-15h18.5v.1zm-6.5 15.8l5.4 5.4c.6.6 1.5 1 2.3 1 .9 0 1.7-.3 2.4-1l5.7-5.7 1.1-.9 12.5 9.2c.5.2 1.4.8 1.8 1.5H18.8c.5-.8 1.3-1.4 1.8-1.7l12-9.3 1.6 1.5z"/>
                        <path fill="#000" fill-rule="nonzero" d="M42.1 83.3C19.4 83.3.9 64.8.9 42.1.9 19.4 19.4.9 42.1.9c22.7 0 41.2 18.5 41.2 41.2 0 22.7-18.5 41.2-41.2 41.2zm0-80C20.7 3.3 3.3 20.7 3.3 42.1s17.4 38.8 38.8 38.8 38.8-17.4 38.8-38.8S63.5 3.3 42.1 3.3z"/>
                        <path stroke="#000" stroke-width="3" d="M42.1 83.3V110"/>
                        <path d="M36 196.7c0-2.1.7-3.3.7-3.3.8 0 1.5.3 2 .8 0 0-.4 1-.4 2.1 0 1.8.9 3 4.4 3 3.4 0 4.3-1.2 4.3-3 0-1.2-.4-2.2-.4-2.2.5-.5 1.2-.8 2-.8 0 0 .7 1.2.7 3.5 0 3.6-2.3 5.6-6.6 5.6-4.4-.1-6.7-2.1-6.7-5.7zM36 184.9c0-3.3 2-5.4 6.6-5.4s6.6 2.1 6.6 5.4c0 3.3-2 5.4-6.6 5.4s-6.6-2.1-6.6-5.4zm2.2 0c0 1.5.9 2.4 4.4 2.4 3.5 0 4.4-.9 4.4-2.4s-.9-2.4-4.4-2.4c-3.5.1-4.4.9-4.4 2.4zM42.4 172c-1.5.7-3 1.1-3 1.1v.1s1.5-.2 3.4-.2h6.1s.2.4.2 1.3c0 .8-.2 1.2-.2 1.2H36.3s-.2-.6-.2-1.8c0-1.2.2-1.8.2-1.8l6.5-3c1.5-.7 3.2-1.1 3.2-1.1v-.1s-1.7.2-3.6.2h-6s-.2-.5-.2-1.3.2-1.2.2-1.2h12.5s.2.6.2 1.8c0 1.1-.2 1.8-.2 1.8l-6.5 3zM36.2 152.4s.5-.2 1.2-.2 1.2.2 1.2.2v3.1h10.3s.2.6.2 1.4c0 .9-.2 1.4-.2 1.4H38.6v3.2s-.5.2-1.2.2-1.2-.2-1.2-.2v-9.1zM36.2 144.9c0-1.2.2-1.8.2-1.8l12.5-4.1s.2.5.2 1.5c0 .9-.2 1.4-.2 1.4l-2.6.8v4.5l2.6.8s.2.5.2 1.4c0 .8-.2 1.3-.2 1.3l-12.5-4.1c-.1.1-.2-.6-.2-1.7zm2.7.1s1 .1 2.1.5l3.2 1.1v-3.2l-3.2 1c-1.2.4-2.1.5-2.1.6zM36 130.7c0-2.1.7-3.3.7-3.3.8 0 1.5.3 2 .8 0 0-.4 1-.4 2.1 0 1.8.9 3 4.4 3 3.4 0 4.3-1.2 4.3-3 0-1.2-.4-2.2-.4-2.2.5-.5 1.2-.8 2-.8 0 0 .7 1.2.7 3.5 0 3.6-2.3 5.6-6.6 5.6-4.4 0-6.7-2-6.7-5.7zM36.2 115.2s.5-.2 1.2-.2 1.2.2 1.2.2v3.1h10.3s.2.6.2 1.4c0 .9-.2 1.4-.2 1.4H38.6v3.2s-.5.2-1.2.2-1.2-.2-1.2-.2v-9.1z" fill="#000"/>
                </svg>
        .headerMobileMenuButton
            button.hamburger.hamburger--squeeze(type='button')
                span.hamburger-box
                    span.hamburger-inner