.mobileMenu
    .mobileMenuWrap
        .mobileMenuItems
            a(href="#top").mobileMenuItem  HOME
            a(href="#skills").mobileMenuItem  Leistungen
            a(href="#bim").mobileMenuItem  Spectrum-Grup
            a(href="#cases").mobileMenuItem  Referenzen
            a(href="#contact").mobileMenuItem  Kontakt
        
        
       
        
        .mobileLang
            a(href="#").mobileLangItem GER
            a(href="#").mobileLangItem ENG
            
        .mobilePresentation
            a(href="#")
                +svgIcon('icon-download')
                span DOWNLOAD CORPORATE <br/>PRESENTATION
                
        .mobileContact
            a(href="#contc")
                img(src="img/contact.png")