.slider#top
    .sliderTextMain
        .slideContent
            .slideHeader
                | ECM Spectrum GmbH
            .slideSubheader
                | Member </br>
                | of international </br>
                | Spectrum Group
    .sliderMain.glide.slider-js
        .glide__track(data-glide-el='track')
            .glide__slides
                .glide__slide.slide.slide-one
                    .slideWrap
                        .slidePhoto
                            img(src="img/slide_photo.jpg")
                .glide__slide.slide.slide-two
                    .slideWrap
                        .slidePhoto
                            img(src="img/slide_photo2.jpg")
                .glide__slide.slide.slide-three
                    .slideWrap
                        .slidePhoto
                            img(src="img/slide_photo3.jpg")
                .glide__slide.slide.slide-three
                    .slideWrap
                        .slidePhoto
                            img(src="img/slide_photo2.jpg")

        .glide__bullets(data-glide-el='controls[nav]')
            button.glide__bullet(data-glide-dir='=0')
                <svg width="60" height="60" viewBox="0 0 60 60">
                    <circle class="pie2" cx="30" cy="30" r="28" stroke="#000" stroke-width="3"/>
                    <circle class="pie1" cx="30" cy="30" r="15" fill="#000"/>
                </svg>

            button.glide__bullet(data-glide-dir='=1')
                <svg width="60" height="60" viewBox="0 0 60 60">
                    <circle class="pie2" cx="30" cy="30" r="28" stroke="#000" stroke-width="3"/>
                    <circle class="pie1" cx="30" cy="30" r="15" fill="#000"/>
                </svg>
            button.glide__bullet(data-glide-dir='=2')
                <svg width="60" height="60" viewBox="0 0 60 60">
                    <circle class="pie2" cx="30" cy="30" r="28" stroke="#000" stroke-width="3"/>
                    <circle class="pie1" cx="30" cy="30" r="15" fill="#000"/>
                </svg>
            button.glide__bullet(data-glide-dir='=2')
                <svg width="60" height="60" viewBox="0 0 60 60">
                    <circle class="pie2" cx="30" cy="30" r="28" stroke="#000" stroke-width="3"/>
                    <circle class="pie1" cx="30" cy="30" r="15" fill="#000"/>
                </svg>


