.contentIntroduction {
    margin-bottom: 55px;
    padding: 0 var(--global-padding);
    & h2 {
        margin-bottom: 48px;
        color: #000000;
        font-weight: 700;
        font-size: 54px;
        font-family: "Cairo", Arial, Helvetica, sans-serif;
        line-height: 54px;
        text-transform: uppercase;
        background-color: #fff;
    }
}

.contentIntroductionColumns {
    flex-wrap: wrap;
    padding: 45px 0 20px;
    border-top: 3px solid #000;
    border-bottom: 1px solid #000;
    box: horizontal;
    & p {
        flex: 1 1 auto;
        color: #000000;
        font-weight: 400;
        font-size: 20px;
        font-family: "Cairo", Arial, Helvetica, sans-serif;
        line-height: 33.82px;
        @media (--desktop) {
            font-size: 16px;
            line-height: 24px;
        }
    }
    & ul {
        flex: 1 1 auto;
        padding-left: 25px;
        list-style: disc;
    }
}
.contentIntroductionColumnLeft {
    lost-column: 4/7 2 200px flex;
    @media (--tablet) {
        lost-column: 1/1 1 0px flex;
        margin-bottom: 40px;
    }
}
.contentIntroductionColumnRight {
    lost-column: 3/7 2 200px flex;
    @media (--tablet) {
        lost-column: 1/1 1 0px flex;
        margin-bottom: 40px;
    }
}
