.contentColumns {
    flex-wrap: wrap;
    padding: 0 var(--global-padding);
    box: horizontal;
}
.contentItem {
    lost-column: 1/3 3 90px flex;
    margin-bottom: 70px;
    box: vertical;
    & p {
        flex: 1 1 auto;
        margin-bottom: 20px;
        /* min-height: 185px; */
        /* padding-top: 44px; */
        color: #000000;
        font-weight: 400;
        font-size: 20px;
        font-family: 'Cairo', Arial, Helvetica, sans-serif;
        line-height: 33.82px;
        /* border-bottom: 1px solid #000; */
        @media (--desktop) {
            min-height: 155px;
            padding-top: 28px;
            font-size: 16px;
            line-height: 22px;
        }
        @media (--tablet) {
            min-height: 0;
        }
        @media (--phone) {
            margin-bottom: 0px;
            padding-top: 0;
        }
    }
    & ul {
        flex: 1 1 auto;
        /* min-height: 185px; */
        /* padding-top: 44px; */
        padding-left: 25px;
        list-style: disc;
        /* border-bottom: 1px solid #000; */
        @media (--desktop) {
            padding-top: 28px;
        }
        @media (--tablet) {
            min-height: 0;
        }
        @media (--phone) {
            margin-bottom: 0px;
            padding-top: 0;
        }
    }
    & li {
        color: #000000;
        font-weight: 400;
        font-size: 20px;
        font-family: 'Cairo', Arial, Helvetica, sans-serif;
        line-height: 33.82px;
        @media (--desktop) {
            font-size: 16px;
            line-height: 22px;
        }
    }
    & a {
        color: #000000;
        font-weight: 400;
        font-size: 16px;
        font-family: 'Cairo', Arial, Helvetica, sans-serif;
        line-height: 61.82px;
        text-decoration: underline;
    }
    & img {
        max-width: 100%;
        margin-bottom: 20px;
        object-fit: contain;
    }
    @media (--small-desktop) {
        lost-column: 1/3 3 40px flex;
        margin-bottom: 50px;
    }
    @media (--tablet) {
        lost-column: 1/1 1 0px flex;
        margin-bottom: 40px;
    }
}
.contentItemBig {
    lost-column: 1/2 2 190px flex;
    @media (--tablet) {
        lost-column: 1/1 1 0px flex;
        margin-bottom: 40px;
    }
}
.contentItemHeader {
    margin-bottom: 33px;
    box: vertical top left;
    & h3 {
        color: #000000;
        font-weight: 700;
        font-size: 40px;
        font-family: 'Cairo', Arial, Helvetica, sans-serif;
        line-height: 46.82px;
        text-transform: uppercase;
        @media (--desktop) {
            font-size: 30px;
            line-height: 35px;
        }
    }
    & h5 {
        position: relative;
        margin-bottom: 20px;
        color: #000000;
        font-weight: 400;
        font-size: 14px;
        font-family: 'Cairo', Arial, Helvetica, sans-serif;
        line-height: 14px;
        text-transform: uppercase;
        &:after {
            position: absolute;
            top: calc(50% - 0.05em);
            left: calc(100% + 25px);
            width: 200px;
            height: 1px;
            background-color: #000;
            content: '';
            @media (--tablet) {
                left: calc(100% + 15px);
                width: 100px;
            }
        }
    }
    @media (--tablet) {
        margin-bottom: 20px;
    }
}

.contentItemPhoto {
    width: 100%;
    height: 320px;
    margin-bottom: 40px;
    & img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
.contentItemText {
    min-height: 230px;
    padding-top: 44px;
    border-top: 3px solid #000;
    transition: all 0.3s ease;
    box: vertical;
    @media (--phone) {
        min-height: 0;
        padding-top: 15px;
    }
}

.contentItemButton {
    display: inline-flex;
    justify-self: flex-end;
    width: auto;
    max-height: 45px;
    margin-top: 20px;
    overflow: hidden;
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Cairo', Arial, Helvetica, sans-serif;
    line-height: 40px;
    text-decoration: underline;
    background-color: transparent;
    border: 0;
    border-top: 1px solid #000;
    opacity: 1;
    transition: all 0.4s ease;
    &:focus {
        outline: 0;
    }
}

.contentItemMore {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    & .contentItemMoreWrap {
        padding: 0px 0 10px;
    }
    & p {
        min-height: 0px;
        margin-bottom: 15px;
        padding-top: 0;
        border-bottom: 0;
    }
    & ul {
        min-height: 0px;
        padding-top: 0;
        border-bottom: 0;
    }
}

.contentItemOpen {
    & .contentItemMore {
        max-height: 999px;
        opacity: 1;
    }
    & .contentItemText {
        min-height: 0;
        border-bottom-color: transparent;
    }
    & .contentItemText {
        & p,
        & ul {
            min-height: 0px;
            border-bottom: 0;
        }
        & .contentItemButton {
            max-height: 0;
            opacity: 0;
        }
    }
}
.contentItemMoreLine {
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #000;
    @media (--phone) {
        margin-top: 0;
    }
}

.contentItemMoreClose {
    display: block;
    align-self: center;
    justify-self: center;
    width: auto;
    margin: 0 auto;
    background-color: transparent;
    border: 0;
    &:focus {
        outline: 0;
    }
    & svg {
        width: 50px;
        height: 50px;
        transition: all 0.4s ease;
        stroke: #000;
    }

    &:hover {
        & svg {
            transform: rotate(90deg);
        }
    }
}
