.content {
    margin-bottom: 70px;
}
.contentHeader {
    position: relative;
    width: 100%;
    height: 340px;
    margin-bottom: 40px;
    overflow: hidden;
}

.contentHeaderBackground {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    & img {
        position: relative;
        width: 100%;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.contentHeaderText {
    position: relative;
    z-index: 10;
    height: 100%;
    padding: 0 var(--global-padding);
    box: vertical middle left;
    & h3 {
        position: relative;
        margin-bottom: 20px;
        color: #000000;
        font-weight: 400;
        font-size: 14px;
        font-family: 'Cairo', Arial, Helvetica, sans-serif;
        line-height: 14px;
        text-transform: uppercase;
        &:after {
            position: absolute;
            top: calc(50% - 0.05em);
            left: calc(100% + 75px);
            width: 200px;
            height: 1px;
            background-color: #000;
            content: '';
            @media (--tablet) {
                left: calc(100% + 35px);
                width: 100px;
            }
        }
    }
    & h2 {
        margin-left: -15px;
        padding: 5px 15px;
        color: #000000;
        font-weight: 700;
        font-size: 54px;
        font-family: 'Cairo', Arial, Helvetica, sans-serif;
        line-height: 54px;
        text-transform: uppercase;
        background-color: #fff;
        @media (--desktop) {
            font-size: 40px;
            line-height: 40px;
        }
    }
    & h4 {
        margin-top: 15px;
        margin-left: -15px;
        padding: 5px 15px;
        color: #000000;
        font-weight: 700;
        font-size: 36px;
        font-family: 'Cairo', Arial, Helvetica, sans-serif;
        line-height: 36px;
        background-color: #fff;
        @media (--desktop) {
            margin-top: 10px;
            font-size: 24px;
            line-height: 24px;
        }
    }
}

.contentHeaderTextWhite {
    & h3 {
        color: #fff;
        &:after {
            background-color: #fff;
        }
    }
}
